* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none ;
}


nav{
    /* background-image: url(img/green_background.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background: linear-gradient(rgb(255, 250, 192), rgb(201, 201, 223));
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    display: flex;

}

.nav-list {
    display: flex;
    align-items: center;
}

header {
    background-image: linear-gradient(rgb(201, 201, 223, 0.4), rgb(255, 250, 192, 0.4)),url(img/business-people-shaking-hands-together.jpg);
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    text-align: center;
    
}

h3 {
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
} 
.and{
color: aqua;
}  

.copita{
color: #52e0e0;
}



/* .adres-list {
    display: flex;
    
} */

.adress-mail,
.adress-call {
    display: flex;
    align-items: center;

}


/* .material-symbols-outlined {
   
} */

